
gradio==4.44.0
langchain==0.2.16
langchain-community==0.2.16
langchain-ibm==0.1.12
ibm-watsonx-ai==1.1.2
chromadb==0.4.24
pypdf==4.3.1
sentence-transformers==3.1.1
python-dotenv==1.0.1
huggingface-hub==0.24.7
